<form [formGroup]="form" (submit)="onAddExpense()" class="form">
  <mat-form-field class="form-field">
    <mat-label for="gasto" class="label">Monto EUR</mat-label>
    <input
      matInput
      type="number"
      name="gasto"
      id="gasto"
      min="0"
      formControlName="expense"
    />
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label for="categorias">Categoria</mat-label>
    <mat-select name="categorias" id="categorias" formControlName="category">
      @for(category of categories; track $index ){
      <mat-option [value]="category">{{ category.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-field-description">
    <mat-label for="descripcion">Descripcion</mat-label>
    <input
      matInput
      type="text"
      name="descripcion"
      id="descripcion"
      formControlName="description"
    />
  </mat-form-field>
  <mat-form-field class="form-field-date">
    <mat-label for="fecha">Fecha</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="fecha"
      id="fecha"
      min="2025-01-01"
      max="{{ today }}"
      formControlName="date"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="form-errors">
    @if(form.controls['expense'].touched &&
    form.controls['expense'].errors?.['min']){
    <p>*El monto debe ser positivo.</p>
    } @if( (form.controls['category'].invalid &&
    form.controls['category'].touched) || (form.controls['expense'].invalid &&
    form.controls['expense'].touched) || (form.controls['date'].invalid &&
    form.controls['date'].touched)){
    <p>*Completa los datos obligatorios.</p>
    }
  </div>
  <button mat-raised-button type="submit" class="add-button">Añadir</button>
</form>
