<div class="title-container">
  <h3>Mis gastos:</h3>
</div>
<!-- Formulario reactivo para la búsqueda con filtros usando Material de Angular -->
<form [formGroup]="form" (submit)="filterData()" class="form">
  <!-- Filtro de categoría -->
  <mat-form-field class="form-field">
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="category">
      @for (category of categories; track $index) {
        <mat-option [value]="category">{{ category.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!-- Filtro de fecha con un selector -->
  <mat-form-field class="form-field calendar">
    <mat-label>Fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input class="date" matInput matStartDate formControlName="startDate" />
      <input matInput matEndDate formControlName="endDate" />
    </mat-date-range-input>
    <mat-datepicker-toggle
      class="icon-date"
      matIconSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <!-- Filtro de descripcion -->
  <mat-form-field class="form-field-description">
    <mat-label>Descripción</mat-label>
    <input maxlength="20" matInput formControlName="description" />
  </mat-form-field>
  <!-- Mensaje de error si no se llega por lo menos un campo. -->
  @if (
    submitted &&
    !form.value["category"] &&
    !form.value["description"] &&
    !form.value["startDate"] &&
    !form.value["endDate"]
  ) {
    <p class="form-errors">Selecciona uno o más filtros.</p>
  }
  <!-- Botón para filtrar -->
  <button mat-raised-button type="submit" class="btn-filter">Filtrar</button>
  <!-- Botón para limpiar el formulario -->
  <button
    mat-raised-button
    type="button"
    class="btn-filter clean"
    (click)="cleanFilters()"
  >
    Limpiar
  </button>
</form>

@if (filteredGastos.length) {
  <!-- Tabla usando Material -->

  <mat-table [dataSource]="filteredGastos" class="table">
    <!-- Fecha Column -->
    <ng-container matColumnDef="date" class="col-date">
      <mat-header-cell *matHeaderCellDef class="col-date">
        Fecha
      </mat-header-cell>
      <mat-cell *matCellDef="let gasto">
        {{ gasto.date | date: "dd/MM" }}
      </mat-cell>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
      <mat-cell *matCellDef="let gasto"> {{ gasto.category }} </mat-cell>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let gasto"> {{ gasto.description }} </mat-cell>
    </ng-container>

    <!-- Importe Column -->
    <ng-container matColumnDef="expense">
      <mat-header-cell *matHeaderCellDef> Importe </mat-header-cell>
      <mat-cell *matCellDef="let gasto"> € {{ gasto.expense }} </mat-cell>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let gasto">
        <button
          mat-icon-button
          color="warn"
          (click)="onDeleteExpense(gasto.id)"
        >
          <mat-icon class="icon-delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Cabecera y filas-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- Total Footer (No soporta el mat-footer actualmente, por ello se debe hacer fuera)-->
  <div class="total-container">
    <p class="total-text">Total:</p>
    <p>€ {{ total }}</p>
  </div>
} @else {
  <div class="empty-state">
    <h3>No hay gastos todavía</h3>
    <p>Registra tu primer movimiento para empezar a controlar tu mes.</p>
  </div>
}
