<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>FinanMe</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<!-- //VER Y SAR https://www.google.com/search?q=sidenav+angular+ejemplo&sca_esv=b97c0088c4eec1a1&sxsrf=AHTn8zrnxCJ3ZrJgaGRs57-T8dkx4aLilw%3A1747831369648&ei=ScotaJmyJ6Dn7_UPidS86Qg&ved=0ahUKEwjZ-qify7SNAxWg87sIHQkqL40Q4dUDCA8&uact=5&oq=sidenav+angular+ejemplo&gs_lp=Egxnd3Mtd2l6LXNlcnAiF3NpZGVuYXYgYW5ndWxhciBlamVtcGxvMgUQABjvBTIFEAAY7wUyBRAAGO8FMgUQABjvBUiSCFDNA1jDBXABeAGQAQCYAWCgAb0BqgEBMrgBA8gBAPgBAZgCA6AC0wHCAgoQABiwAxjWBBhHmAMA4gMFEgExIECIBgGQBgiSBwMyLjGgB4QFsgcDMS4xuAfHAcIHBTItMi4xyAcS&sclient=gws-wiz-serp#fpstate=ive&vld=cid:4f14fdfd,vid:mrTfvUQiWrs,st:0 -->
