<div class="register-container">
  <form [formGroup]="form" (submit)="onRegister()" class="form">
    <h2 class="title">CREA TU CUENTA</h2>
    <mat-form-field class="form-field">
      <mat-label for="name" class="label">Nombre</mat-label>
      <input
        matInput
        type="text"
        name="name"
        id="name"
        formControlName="name"
      />
      <mat-hint></mat-hint>
      @if (form.controls['name'].touched &&
      form.get('name')?.errors?.['required']) {
      <mat-error>El nombre es <strong>obligatorio.</strong></mat-error>
      } @if(form.get('name')?.errors?.['maxlength']) {
      <mat-error>Maximo <strong>50 caracteres.</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label for="email" class="label">E-mail</mat-label>
      <input
        matInput
        type="email"
        name="email"
        id="email"
        formControlName="email"
      />
      <mat-hint></mat-hint>
      @if (form.controls['email'].touched &&
      form.get('email')?.errors?.['required']) {
      <mat-error>El email es <strong>obligatorio.</strong></mat-error>
      } @if(form.get('email')?.errors?.['email']) {
      <mat-error>Formato invalido.</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label for="password" class="label">Contraseña</mat-label>
      <input
        matInput
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
      <mat-hint></mat-hint>
      @if (form.controls['password'].touched &&
      form.get('password')?.errors?.['required']) {
      <mat-error>La contrasena es <strong>obligatoria.</strong></mat-error>
      } @if(form.get('password')?.errors?.['minlength']) {
      <mat-error>Al menos 5 caracteres</mat-error>
      }@if(form.get('password')?.errors?.['pattern']) {
      <mat-error
        >La contraseña debe incluir al menos una letra y un número. Puede
        contener los símbolos especiales $!%*?&.</mat-error
      >
      }
    </mat-form-field>
    <button mat-raised-button type="submit" class="add-button">
      Crear cuenta
    </button>
    <div class="log-in-text">
      <p>¿Ya tienes cuenta?<span class="log-in">Inicia sesión</span></p>
    </div>
  </form>
  @if(errorMessage){
  <p>
    {{ errorMessage }}
  </p>
  }@if(messageResponse){
  <p>{{ messageResponse }}</p>
  }
</div>
