.title-container {
  font-family: "Roboto", sans-serif;
  padding: 3vw;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content: space-between;
  align-items: center;
  .form-field {
    width: 48%;
    height: 70px;
    &.calendar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }
  }
  .form-field-date {
    width: 30%;
    height: 70px;
  }
  .form-field-description {
    width: 100%;
    height: 70px;
  }
  .btn-filter {
    margin-left: auto;
  }
}
.table {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  .mat-column-date,
  .mat-column-category,
  .mat-column-description,
  .mat-column-expense {
    padding: 0;
    text-align: start;
  }
  .mat-column-expense {
    display: flex;
    justify-content: end;
  }
  .mat-column-actions {
    display: flex;
    justify-content: end;
    padding: 0;
    .icon-delete {
      font-size: 5vw;
    }
  }
}
.total-container {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 0 22vw 3vw 22vw;
  gap: 3vw;
  justify-content: end;
  font-size: 3vw;
  .total-text {
    font-weight: bold;
  }
}
