<h1>Mis gastos:</h1>
<form [formGroup]="form" (submit)="filterData()">
  <mat-form-field class="category-input">
    <mat-label>Categoría</mat-label>
    <mat-select formControlName="category">
      @for(category of categories; track $index){
      <mat-option [value]="category">{{ category }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matInput matStartDate formControlName="startDate" />
      <input matInput matEndDate formControlName="endDate" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
  <button mat-raised-button type="submit">Filtrar</button>
  <button mat-raised-button type="button" (click)="cleanFilters()">
    Limpiar filtros
  </button>
</form>

<!-- Tabla usando Material -->

<mat-table [dataSource]="filteredGastos" class="mat-elevation-z2">
  <!-- Fecha Column -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let gasto">
      {{ gasto.date | date : "dd/MM/yyyy" }}
    </mat-cell>
  </ng-container>

  <!-- Categoria Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
    <mat-cell *matCellDef="let gasto"> {{ gasto.category }} </mat-cell>
  </ng-container>

  <!-- Descripción Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
    <mat-cell *matCellDef="let gasto"> {{ gasto.description }} </mat-cell>
  </ng-container>

  <!-- Importe Column -->
  <ng-container matColumnDef="expense">
    <mat-header-cell *matHeaderCellDef> Importe </mat-header-cell>
    <mat-cell *matCellDef="let gasto"> € {{ gasto.expense }} </mat-cell>
  </ng-container>

  <!-- Eliminar Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let gasto">
      <button mat-icon-button color="warn" (click)="onDeleteExpense(gasto.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Header and Rows (Se agrega un array displayedColumns en el TS)-->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<!-- Total Footer (No soporta el mat-footer actualmente, por ello se debe hacer fuera)-->
<div class="total-container" style="text-align: right; margin-top: 1rem">
  <strong>Total:</strong> € {{ total }}
</div>
<!-- 
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Categoria</th>
      <th>Descripción</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    @for(gasto of filteredGastos; track $index){
    <tr>
      <td>{{ gasto.date | date : "dd/MM/yyyy" }}</td>
      <td>{{ gasto.category }}</td>
      <td>{{ gasto.description }}</td>
      <td>€ {{ gasto.expense }}</td>
      <td>
        <button type="button" (click)="onDeleteExpense(gasto.id)">
          Eliminar
        </button>
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td>€ {{ total }}</td>
    </tr>
  </tfoot>
</table> -->
