<ngx-charts-pie-chart
  [view]="view"
  [results]="chartData"
  [legend]="false"
  [labels]="true"
  [doughnut]="false"
  [explodeSlices]="false"
  [gradient]="true"
  [animations]="true"
>
  >
</ngx-charts-pie-chart>

<!-- Tabla usando Material -->

<table mat-table [dataSource]="chartData" class="mat-elevation-z8">
  <!-- Categoría Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Categoría</th>
    <td mat-cell *matCellDef="let data">{{ data.name }}</td>
  </ng-container>

  <!-- Valor Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Valor</th>
    <td mat-cell *matCellDef="let data">€ {{ data.value }}</td>
  </ng-container>

  <!-- Porcentaje Column -->
  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef>Porcentaje</th>
    <td mat-cell *matCellDef="let data">{{ data.percentage }}%</td>
  </ng-container>

  <!-- Header and Row declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <table>
  <thead>
    <tr>
      <th>Categoría</th>
      <th>Valor</th>
      <th>Porcentaje</th>
    </tr>
  </thead>
  <tbody>
    @for(data of chartData; track $index) { @if(data.value > 0){
    <tr>
      <td>{{ data.name }}</td>
      <td>€ {{ data.value }}</td>
      <td>{{ data.percentage }}%</td>
    </tr>
    } }
  </tbody>
</table> -->
