<div class="component-container">
  <div class="chart-container">
    <ngx-charts-pie-chart
      class="chart"
      [view]="view"
      [results]="chartData"
      [legend]="false"
      [labels]="true"
      [doughnut]="true"
      [explodeSlices]="false"
      [gradient]="true"
      [animations]="true"
    >
      >
    </ngx-charts-pie-chart>
    <div class="container-button">
      <button mat-fab class="add-button-expense" (click)="addExpense()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- Boton para agregar un nuevo gasto -->

  <!-- Tabla usando Material -->

  <div class="table">
    @for(data of chartData; track $index){
    <div class="row">
      <div class="column name">{{ data.name }}</div>
      <div class="column percentage">{{ data.percentage }} %</div>
      <div class="column value">€ {{ data.value }}</div>
    </div>
    }
  </div>
</div>
