.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vw;
  justify-content: space-between;
  align-items: center;

  .form-field {
    width: 48%;
    height: 70px;
  }
  .form-field-date {
    width: 30%;
    height: 70px;
  }
  .form-field-description {
    width: 66%;
    height: 70px;
  }
  .form-errors {
    color: rgb(189, 87, 87);
    line-height: 20px;
    font-size: small;
  }
  .add-button {
    margin-left: auto;
  }
}
